#container{
    background-color: rgb(192, 140, 240);
    height: 80vh;
    width: 100vw;
    padding-top: 20vh;
}

#form{
    width: 35%;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin:  auto;
    display: flex;
    flex-direction: column;
}
.input-form{
    margin-bottom: 15px;
    min-width: 95%;
    outline: none !important;
    padding:  6px 10px;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid grey;
}

#login-submit{
    background-color: green;
    padding: px 0;
    color: white;
    border: 5px;
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: 1px;
}
.login-form-text{
    text-align: center;
    margin: 0;
    font-size: 40px;
    margin-bottom: 20px;
}